@import 'font'
@import 'colors'


*
  margin 0
  padding 0

*, *:before, *:after
  -webkit-box-sizing border-box
  box-sizing border-box

body
  position fixed
  width 100%
  height 100%
  font-family 'time', sans-serif;
  font-size 18px
  overflow-x hidden
  color grey-dark
  padding 1px 0 1px 0
  text-align center

button, input[type='submit'], input[type='file']
  background white-shade
  border none
  padding 10px
  box-shadow 0 0 1px grey
  margin 10px

input[type='color']
  padding 0

input[type='text']
  background white
  border none
  padding 5px
input[type='number']
  background white
  border none
  padding 5px

hr
  width 80%
  margin-left 10%
  background grey
  border-top 1px solid grey-med

.spacer-25
  height 25px

.trans
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;  
.hidden
  display none


.background
  z-index -1
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-size cover
  background-attachment fixed
  background-position center top  


.clock
  margin 10%
  color white
  font-size 20vw
  text-shadow 0 0 1px grey


.footer
  position absolute
  bottom 0
  width 100%
  .button-settings
    display inline-block
    float right
    width 30px
    height 30px
    opacity .5
    &:hover
      opacity 1


.opaque-box
  position fixed
  top 25%
  width 80%
  min-height 50%
  margin-left 10%
  background rgba(250, 250, 250, .9)
  padding 25px
  box-shadow 0 0 3px grey
  .close
    position absolute
    top 0
    right 0
    width 30px
    height 30px
    background rgba(250, 250, 250, 1)
    font-size 25px
    &:before
      content: "X"


.box
  width 50%
  display inline-block
  float left

.settings
  @extend .opaque-box


@media all and (max-width: 1000px)
  .box
    width 100%
    margin-top 25px
  .box:last-child
    border-top 1px solid grey-med
    margin-top 20px
    padding-top 20px
    



::selection
  background black
  color white
