doctype
html
  head
    title Time
    link(rel="shortcut icon" type="image/png" href="./images/favicon.png")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    script(type="text/javascript" src="./js/vendor/jquery-2.1.0.js")
    script(type="text/javascript" src="./js/main.js")
  body

    .content
      .clock ...