#settings.settings.hidden
  #close.close
  .box

    h4 Change background
    .spacer-25
    | Image
    input(type="file" id="file")
    | Or Color
    input(type="color" id="color" value="#171717")
  .box
    h4 clock
