#settings.settings.hidden
  #close.close
  .box

    h4 Change background
    .spacer-25
    form(method="post" action="" enctype="multipart/form-data")
      input(type="file" id="file")
      input.hidden(type="submit" id="submit" value="Save")
  .box
    h4 clock