#settings.settings.hidden
  #close.close
  .box

    h4 Background
    .spacer-25
    | Image 
    input(type="file" id="file")
    .spacer-25
    | Or Color 
    input(type="color" id="background-color")
  .box
    h4 Clock
    .spacer-25
    | Font Size 
    input(type="number" id="font")
    .spacer-25
    | Color 
    input(type="color" id="clock-color")
